# editors
/.idea

# dependencies
/client/node_modules
/client/package-lock.json

/electron/node_modules
/electron/package-lock.json

/node_modules
/package-lock.json

# production
/client/build
/downloads
/electron/dist

# exclude
!/downloads/!keep
